<!DOCTYPE html>
<html lang="ro">
	<head>
		<title>Chat</title>
		<%- include("../fragmente/head") %>
		<link rel="stylesheet" type="text/css" href="/resurse/css/chat.css" />
        <script type="text/javascript" src="/resurse/biblioteci/socket.io/client-dist/socket.io.js"></script> 
        <script>port = "<%= port %>"</script>
        <script src="/resurse/js/chat.js"></script>
	</head>
	<body class="container">
		
		<%- include("../fragmente/header") %>
		
		<main>
			<section>
                <div id="mesaje-chat">
                </div>
                <% if(locals.utilizator) {
                    %> 
                <p>Nume: <span id="nume"><%- locals.utilizator.username %></span></p>
                <label for="mesaj">Mesaj:</label><br/>
                <textarea id="mesaj" name="mesaj" value=""></textarea>
                <p> Culoare: <span id="culoare"><%- locals.utilizator.culoareChat %></span></p>
                <button onclick="trimite()">ok</button>
                <% } %>    
            </section>
		</main>
		
		<%- include("../fragmente/footer") %>
		
	</body>
</html>

	