<!DOCTYPE html>
<html  lang="ro">
    <head>
        <meta name="description" content="BikeAddiction - înregistrare utilizatori.">
        <meta name="keywords" content="BikeAddicton, inregistrare, utilizatori">
        <title>BikeAddiction - creeaza anunt </title>
        <%- include("../fragmente/head") %>     
        <link rel="stylesheet" href="/resurse/css/creeaza-anunt.css" type="text/css"/>
        <script type="text/javascript" src=/resurse/js/creeaza-anunt.js></script>
    </head>
    <body>
    <%- include("../fragmente/header") %>

    <main>
        <section class="form">
            <% if(!locals.utilizator){ %>
                <p class="mesaj-eroare">Trebuie sa te autentifici pentru a putea vedea aceasta pagina.</p> 
            <% } else { %> 
                <h2>Creeaza anunt</h2>
                <%- include("../fragmente/formular-anunt",{ action:"/creeaza-anunt", mesaj: "Creeaza", required_image: true }) %>
                <% if(locals.type == true){ %>
                    <p class="mesaj-succes"><%- locals.raspuns %></p>
                <% } else if(locals.type == false){%>
                    <p class="mesaj-eroare"><%- locals.raspuns %></p>
                <% } %> 
            <% } %>
        </section>
    </main>

    <%- include("../fragmente/footer") %>
    
</body>
</html>