<!DOCTYPE html>
<html  lang="ro">
    <head>
        <meta name="description" content="BikeAddiction - înregistrare utilizatori.">
        <meta name="keywords" content="BikeAddicton, inregistrare, utilizatori">
        <title>BikeAddiction - înregistrare </title>
        <%- include("../fragmente/head") %>     
        <link rel="stylesheet" href="/resurse/css/creeaza-anunt.css" type="text/css"/>
        <script type="text/javascript" src=/resurse/js/creeaza-anunt.js></script>
    </head>
    <body>
    <%- include("../fragmente/header") %>

    <main>
        <section class="form">
            <% if(!locals.utilizator){ %>
                <p class="mesaj-eroare">Trebuie sa te autentifici pentru a putea vedea aceasta pagina.</p> 
            <% } else { %> 
                <h2>Creeaza anunt</h2>
                <form class="form-anunt" method="post" class="date" action="/creeaza-anunt"  enctype="multipart/form-data">
                    <div>
                        <label for="inp-nume" id="lbl-nume"> Nume*: </label>
                        <input type="text" name="nume" id="inp-nume" value="" required>
                        <p id="info-nume">(maximum 50 de caractere)</p>
                
                        <label for="inp-pret" id="lbl-pret"> Pret*: </label>
                        <input type="text" name="pret" id="inp-pret" value="" required>
                        <p id="info-pret">(maximum 8 cifre)</p>

                        <label for="inp-an" id="lbl-an"> An fabricatie*: </label>
                        <input type="text" name="an" id="inp-an" value="" required>
                        <p id="info-an">(maximum 4 cifre)</p>

                        <label for="inp-producator" id="lbl-producator"> Producator*: </label>
                        <input type="text" name="producator" id="inp-producator" value="" required>
                        <p id="info-producator">(maximum 300 caractere)</p>
                        
                        <label for="inp-descriere" id="lbl-descriere"> Descriere: </label>
                        <textarea name="descriere" id="inp-descriere" value=""> </textarea>

                        <label for="inp-sel-categ" id="lbl-sel-categ"> Categorie: </label>
                        <select name="categ_produse" id="inp-sel-categ">
                            <% for (let opt of locals.categProduse) { %>
                                <option value="<%- opt %>"><%- opt %></option>
                            <% } %>
                        </select>

                        <label for="inp-specificatii" id="lbl-specificatii"> Specificatii: </label>
                        <textarea name="specificatii" id="inp-specifiactii" value=""> </textarea>
                        <p id="info-specificatii">(Separa specificatiile prin virgula)</p>

                        <label for="inp-email" id="lbl-email"> Email: </label>
                        <input type="text" name="email" id="inp-email" value="">

                        <label for="inp-telefon" id="lbl-telefon"> Telefon: </label>
                        <input type="text" name="telefon" id="inp-telefon" value="">
                        
                        <label for="inp-livrare" id="lbl-livrare"> Livrare: </label>
                        <input type="checkbox" name="livrare" id="inp-livrare" value="true">
                
                        <label for="inp-poza" id="lbl-poza"> Poza: </label> 
                        <input type="file" id="inp-poza" name="poza" required>			
                        
                        <p id="butoane">
                            <input class="buton" type="submit" value="Trimite">
                            <input class="buton" type="reset" value="Reseteaza">
                        </p>

                    </div>
                </form>
            <% } %>
            <% if(locals.type == true){ %>
                <p class="mesaj-succes"><%- locals.raspuns %></p>
            <% } else if(locals.type == false){%>
                <p class="mesaj-eroare"><%- locals.raspuns %></p>
            <% } %> 
        </section>
    </main>

    <%- include("../fragmente/footer") %>
    

</body>
</html>