<!DOCTYPE html>
<html lang = "ro">
    <head>
        <title>BikeAddiction</title>
        <meta name="keywords" content="biciclete, piese biciclete, accesorii biciclete, echipamente <b>ciclism</b>"> <!-- de adaugat partea de second-hand, trasee si parteneri de excursie -->
        <meta name="description" content="Aici poti gasi o gama larga de biciclete, piese, accesorii si echipamente destinate acestora la un pret avantajos">
        <%- include("../fragmente/head.ejs"); %>
        <script src="/resurse/js/tema.js"></script>
        <script src="/resurse/js/calendar.js"></script>
    </head> 
    <body>
        <%- include("../fragmente/header.ejs") %> 
        <main>
            <div id="container">
                <section id="produse">
                    <section id="descriere-produse">
                        <h2>Produse</h2>
                        <div id="container-descriere-produse">
                            <div>
                                <p>Aici poti gasi <b>bicicleta</b> la care ai visat, indiferent de varsta sau daca esti pasionat de <i lang="en">mountain biking</i>, <b>ciclism</b> sosea sau BMX.
                                    De asemenea sunt disponibile o gama larga de <b>piese de schimb</b> si <b>accesorii</b> pentru <b>bicicleta</b> ta oferite de cei mai cunoscuti producatori.
                                    Cum pentru noi este important sa te simti bine atuci cand pedalezi, iti oferim si o multime de <b>echipamente</b> pentru <b>ciclism</b> din care sa
                                    alegi, toate acestea la preturi avantajoase. 
                                </p>
                            </div>
                            <div class="media-content">
                                <video controls="controls" poster="resurse/imagini/bike-lane-poster.jpg" preload="metadata">
                                    <source src="resurse/video/bike-lane.mp4" type="video/mp4">
                                    <source src="resurse/video/bike-lane.ogv" type="video/ogv">
                                    <track src="resurse/video/tracks/captions_ro.vtt" kind="captions" srclang="ro" label="Română" default>
                                    <track src="resurse/video/tracks/captions_en.vtt" kind="captions" srclang="en" label="Engleză">
                                </video>
                            </div>
                        </div>
                    </section>
                    <section id="biciclete">
                        <h3>Biciclete</h3>
                        <p>Esti foarte aproape sa-ti gasesti bicicleta mult dorita iar acesta este locul potrivit unde sa o cauti.</p>
                        <figure class="media-content">
                            <figcaption><a href="biciclete.html">Biciclete</a></figcaption>
                            <picture>
                                <source srcset="resurse/imagini/biciclete500.jpg" media = "(max-width:500px)"/>
                                <source srcset="resurse/imagini/biciclete1000.jpg" media = "(max-width:1000px)"/>
                                <img src="resurse/imagini/biciclete.jpg" alt="Image not found">
                            </picture>
                        </figure>
                    </section>
                    <section id="piese">
                        <h3>Piese</h3>
                        <p>Este important sa iti menti bicicleta intr-o stare buna de functionare iar pentru asta este nevoie sa urmaresti starea componentelor sale. Nu ezita
                            sa iti iei toate piesele de schimb trebuinciose pentru a-ti face bicicleta ca noua. 
                        </p>
                        <figure class="media-content">
                            <figcaption><a href="piese.html">Piese pentru biciclete</a></figcaption>
                            <picture>
                                <source srcset="resurse/imagini/piese500.jpg" media = "(max-width:500px)"/>
                                <source srcset="resurse/imagini/piese1000.jpg" media = "(max-width:1000px)"/>
                                <img src="resurse/imagini/piese.jpg" alt="Image not found">
                            </picture>
                        </figure>
                    </section>
                    <section id="accesorii">
                        <h3>Accesorii</h3>
                        <p><i lang="en">Setup</i>-ul nu este complet daca nu ai si propriile tale ustensile pentru a-ti ingriji bicicleta. In aceasta sectiune gasesti toate accesoriile de care ai nevoie pentru bicicleta ta.</p>
                        <figure class="media-content">
                            <figcaption><a href="accesorii.html">Accesorii pentru biciclete</a></figcaption>
                            <picture>
                                <source srcset="resurse/imagini/accesorii500.jpg" media = "(max-width:500px)"/>
                                <source srcset="resurse/imagini/accesorii1000.jpg" media = "(max-width:1000px)"/>
                                <img src="resurse/imagini/accesorii.jpg" alt="Image not found">
                            </picture>
                        </figure>
                    </section>
                    <section id="echipamente">
                        <h3>Echipamente</h3>
                        <p>Sectiune destinata echipamentelor pentru ciclism.</p>
                        <figure class="media-content">
                            <figcaption><a href="Echipamente.html">Echipamente ciclism</a></figcaption>
                            <picture>
                                <source srcset="resurse/imagini/echipamente500.jpg" media = "(max-width:500px)"/>
                                <source srcset="resurse/imagini/echipamente1000.jpg" media = "(max-width:1000px)"/>
                                <img src="resurse/imagini/echipamente.jpg" alt="Image not found">
                            </picture>
                        </figure>
                    </section>
                </section>
                <section id="despre-noi">
                    <h2>Despre Noi</h2>
                    
                    <p>Pasiunea noastra pentru biciclete si ciclism ne-a determinat sa facem acset proiect in speranta de a-i ajuta si pe alti pasionati de acest sport. Cu toate
                        acestea pentru noi ciclismul este mai mult decat un spimplu sport, este un stil de viata. Cine pedaleaza zilnic si nu trece zi fara sa se gandeasca macar o data la 
                        bicicleta sa stie la ce ne referim cand spunem acest lucru.
                    </p>

                    <p><button id="btn-tema">
                        <span id="sun" style="display: none;"><i class="fas fa-sun"></i></span>
                        <span id="moon" style="display: none;"><i class="fas fa-moon"></i></span>
                    </button></p>
                
                </section>
    
                <section id="ajutor">
                    <div id="text-ajutor">
                        <h2>Ajutor</h2>
                        <p>Daca te-ai hotarat sa iti cumperi o bicicleta dar nu stii inca dupa ce criterii sa o alegi, iti racomandam aceste tuoriale. Nu uita ca oricand poti apela
                            la sfaturile expertilor nostri care iti stau la dispozitie 24/7 sau poti chair sa ne contactezi direct folosind informatiile din zona de contact
                        </p>
                    </div>
                    <div id="ifr-links">
                        <span class="media-content"><a href="https://www.youtube.com/embed/yotOZVELSMc" target="ifr-video">Alege o bicicleta <abbr title="Mountain biking">MTB</abbr></a></span>
                        <span class="media-content"><a href="https://www.youtube.com/embed/grmh4TZVWe8" target="ifr-video">Alege o cursiera</a></span>
                        <span class="media-content"><a href="https://www.youtube.com/embed/fWXl7tnz04k" target="ifr-video">Alege o bicicleta <abbr title="bicycle, motocross, with X standing for cross">BMX</abbr></a></span>
                    </div>
                    <iframe id="ifr-video" class="media-content" name="ifr-video" src="https://www.youtube.com/embed/yotOZVELSMc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>    
                </section>
                <section id="intrebari">
                    <h2>Inrebari frecvente (FAQ)</h2>
                    <details>
                        <summary>Pentru ajutor de specialitate la cine apelez?</summary>
                        <p>Poti apela cu incredere la expertii nostri folosind informatiile din zona de contact.</p>
                    </details>
                    <details>
                        <summary>Transportul este inclus in pretul produselor?</summary>
                        <p>Nu. Acesta va fi afisat separat si adaugat facturii.</p>
                    </details>
                    <details>
                        <summary>Daca nu sunt multumit de un produs pot sa-l returnez?</summary>
                        <p>Bineinteles, dar in maxim 24 de ore de la primirea acestuia.</p>
                    </details>
                </section>
                <section id="program">
                    <h2>Program</h2>
                    <div id="container-tabel">
                        <table>
                            <thead>
                                <tr>
                                    <th scope="row">Intervale</th>
                                    <th>Luni-Vineri</th>
                                    <th>Sambata</th>
                                    <th>Duminica</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">Dimineata</th>
                                    <td>8<sup>00</sup> - 13<sup>30</sup></td>
                                    <td>10<sup>00</sup> - 12<sup>00</sup></td>
                                    <td>Nu lucram</td>
                                </tr>
                                <tr>
                                    <th scope="row">Pranz</th>
                                    <td>13<sup>30</sup> - 15<sup>00</sup> (pauza de masa)</td>
                                    <td>12<sup>00</sup> - 14<sup>00</sup> (pauza de masa)</td>
                                    <td>Nu lucram</td>
                                </tr>
                                <tr>
                                    <th scope="row">Dupa-amiaza</th>
                                    <td>8<sup>00</sup> - 20<sup>00</sup></td>
                                    <td>14<sup>00</sup> - 17<sup>00</sup></td>
                                    <td>14<sup>00</sup> - 20<sup>00</sup> </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <td colspan="4">Nu ezitati sa ne vizitati. In caz ca nu este clar nu lucram in pauzele de masa.</td>
                            </tfoot>
                            <caption>(Programul de lucru al service-urilor noastre)</caption>
                        </table>
                    </div>
                </section>
                <section id ="calendar-section">
                    <h2>Calendar Evenimente</h2>

                    <%
                        let luni = ["Ianuarie", "Februarie", "Martie", "Aprilie", "Mai", "Iunie", "Iulie", "August", "Septembrie", "Octombrie", "Noiembrie", "Decembrie"];
                        let data = new Date();
                        let strData = data.getDay() + " " + luni[data.getMonth()] + " " + data.getFullYear();
                    %> 
                    <p><i class="fas fa-angle-left"></i>  <span><%= strData %></span>  <i class="fas fa-angle-right"></i></p>

                    <div id="calendar">
                        <div>L</div>
                        <div>Ma</div>
                        <div>Mi</div>
                        <div>J</div>
                        <div>V</div>
                        <div>S</div>
                        <div>D</div>
                    
                    <% 
                    nrZile = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31];
                    
                    d = new Date(); //observatie: este data serverului nu a clinetului; codul ejs fiind compilat pe server
                    anCurent = d.getFullYear();
                    lunaCurenta = d.getMonth();
                    if(anCurent % 400 == 0 || (anCurent % 4 == 0 && anCurent % 100 != 0)) nrZile[1] = 29;
                    let nrZileCalendar = nrZile[lunaCurenta];
                    let zileLunaAnterioara = lunaCurenta > 0 ? nrZile[lunaCurenta - 1] : nrZile[nrZile.length - 1];
                    primaZiLuna = new Date(anCurent, lunaCurenta, 1);
                    ultimaZiLuna = new Date(anCurent, lunaCurenta, nrZileCalendar);
                    ziSaptPrimaZiLuna = (primaZiLuna.getDay() - 1 + 7) % 7;
                    ziSaptUltimaZiLuna = (ultimaZiLuna.getDay() - 1 + 7) % 7;
                    for (let i = 0; i < ziSaptPrimaZiLuna; i++){
                    %>
                        <div class="faded"><%= zileLunaAnterioara - ziSaptPrimaZiLuna + i + 1 %></div> 
                    <% } 
                    let j = ziSaptPrimaZiLuna;
                    for (let i = 1; i <= nrZileCalendar; i++){
                        if(j == 4 && i + 7 > nrZileCalendar){
                    %>
                    <div class="zi eveniment" title="Reducere produse" style="background-color: var(--color6);"><%= i %></div> 
                    <% } else if(j == 6 && i % 2 == 0){ %>
                    <div class="zi eveniment" title="Promotie" style="background-color: var(--color6);"><%= i %></div> 
                    <% } else if(i == 25 && lunaCurenta == 11){ %>
                    <div class="zi eveniment" title="Craciun" style="background-color: var(--color6);"><%= i %></div> 
                    <% } else if(j == 4 && i == 13){ %>
                    <div class="zi eveniment" title="Vineri 13" style="background-color: var(--color6);"><%= i %></div> 
                    <% } else if(i == 31 && lunaCurenta == 9){ %>
                    <div class="zi eveniment" title="Halloween" style="background-color: var(--color6);"><%= i %></div> 
                    <% } else { %>
                    <div class="zi"><%= i %></div> 
                    <% }
                    j = (j + 1) % 7; 
                    } %>
                    <% for (let i = 0; i < 6 - ziSaptUltimaZiLuna; i++){ %>
                        <div class="faded"><%= i + 1 %></div> 
                    <% } %>

                    </div>                
                </section>

                <section id="utilizatori-online">
                    <h2>Utilizatori Online</h2>
                    <% if(locals.utiliz_online){ %> 
                        <% for(let utiliz of locals.utiliz_online) {%>
                            <div class = "profil-utiliz">
                                <p class="nume-profil"><%- utiliz.nume %> <%- utiliz.prenume %> </p>
                                <a href="/utilizator/<%- utiliz.username %>" class="username-profil"><i class="fas fa-user"></i> <%- utiliz.username %> </a>
                                <figure class="contianer-imag-profil-mica">
                                    <% 
                                    let cale_poza = "resurse/imagini/altele/poza-mica.png";
                                    console.log(utiliz.poza_profil);
                                    if(utiliz.poza_profil)
                                        cale_poza = `poze_uploadate/${utiliz.username}/poza-mica.png`; 
                                    %>
                                    <img class="imag-mica-profil" src="/<%- cale_poza %>" alt="[imagine profil]" />
                                </figure>
                            </div>    
                        <% } %>  
                    <% } %> 
                </section>
                <section id="statistici">
                    <h2>Statistici</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum numquam ab id expedita, quaerat voluptas quisquam perspiciatis maiores dolorem dignissimos? Libero, doloribus ullam. Libero molestias reprehenderit corrupti beatae deserunt ipsum!</p>
                </section>
                <section id="date-site">
                    <h2>Date despre site si server</h2>
                    <% 
                        let dataServer = new Date;
                        let sirData = dataServer.getHours() + ":" + dataServer.getMinutes() + ":" + dataServer.getSeconds();
                    %>
                    <p>Locatie client: <span id="locatie-client"><%= locals.locatie %></span></p>
                    <p>Ip client: <span id="ip-client"><%= locals.ip %></span> </p>
                    <p>Ora server: <span id="data-server"><%= sirData %></span></p>
                    <p>Ora client: <span id="data-client"></span></p>
                    <script>
                        function zero(nr){
                            if (nr<10) return "0"+nr;
                            return nr;
                        }
                        
                        d=new Date();
                        document.getElementById("data-client").innerHTML=zero(d.getHours())+":"+zero(d.getMinutes())+":"+zero(d.getSeconds());
    
                        function actualizeazaElemData(id_div){
                            var data_div=document.getElementById(id_div);
                            if (data_div.innerHTML!="")
                            {
                                var timp=data_div.innerHTML.split(":");
                                var dt=new Date(2000,1,15, timp[0],timp[1], timp[2] );//nu conteaza data (am pus valori random pentru an, luna si zi) ci timpul
                            }
                            else
                                var dt=new Date();
                            dt.setSeconds(dt.getSeconds()+1)
                            data_div.innerHTML=zero(dt.getHours())+":"+zero(dt.getMinutes())+":"+zero(dt.getSeconds());
                        }
                        function actualizeazaData(){
                            actualizeazaElemData("data-client");
                            actualizeazaElemData("data-server");
                        }
                        actualizeazaData();
                        setInterval(actualizeazaData,1000);
                    </script>
                </section>
            </div>
            <section id="banner">
                <div>
                    <p>Acesta este un proiect scolar.</p>
                </div>
            </section>
            <div id="watermark">
                <p>Birsan</p>
                <p>Vlad Ioan</p>
            </div>
        </main>
        <%- include("../fragmente/footer.ejs") %> 
    </body>
</html>
