<!DOCTYPE html>
<html  lang="ro">
    <head>
        <meta name="description" content="BikeAddiction - utilizatori.">
        <meta name="keywords" content="biciclete, BikeAddiction, utilizatori">
        <link rel="stylesheet" href="/resurse/css/useri.css" type="text/css" />
        <title>BikeAddiction - utilizatori</title>
        <%- include("../fragmente/head") %>     
        <!-- <script type="text/javascript" src=/resurse/js/produse.js></script> -->
    </head>
    <body>
    <%- include("../fragmente/header") %>

    <main>
		<section id="users-section">
			<h2>Users</h2>
	
			<table id="users-table">
			<tr>
				<th>Username</th><th>Nume</th><th>Prenume</th><th>Email</th><th>Problema vedere</th><th>Poza</th><th></th>
			</tr>

			<% 
			for (var i = 0; i < users.length; i++) { 
				if(users[i].rol == "comun"){
			%>
				<tr>
					<td><%- users[i].username %></td>
					<td><%- users[i].nume %></td>
					<td><%- users[i].prenume %></td>
					<td><%- users[i].email %></td>
					<% let problema_vedere = users[i].problema_vedere ? "Da" : "Nu"; %>
					<td><%- problema_vedere %></td>
					<td>
						<% 
						let cale_poza = "resurse/imagini/altele/poza-mica.png";
						if(users[i].poza_profil)
							cale_poza = `poze_uploadate/${users[i].username}/poza-mica.png`; 
						%>
						<figure class="imag-profil-mica-tabel">
							<img class="imag-profil-mica" src="/<%- cale_poza %>" alt="[imagine profil]" />
						</figure>
					</td>
					<td>
						<form id="sterge-poza" method="post" action="/stergere_poza_profil">
							<label style="display: none;">
								Id: <input type="text" name="id_utiliz" value="<%- users[i].id %>">
							</label>						
							<input type="submit" value="Sterge poza" class="buton">
						</form>
					</td>
				</tr> 
				<% } %>			
			<% } %>
			</table>
			
			<% if(locals.type == true){ %>
				<p class="mesaj-succes"><%- locals.raspuns %></p>
			<% } else if(locals.type == false){%>
				<p class="mesaj-eroare"><%- locals.raspuns %></p>
			<% } %> 
			
		</section>
	</main>

    <%- include("../fragmente/footer") %>

	</body>
</html>