<script>
    var tema = localStorage.getItem("tema");
	if (tema) document.body.classList.add("volcano");
	else document.body.classList.remove("volcano");
</script>
<header>
    <h1>BikeAddiction</h1>
    <% if(locals.utilizator) {%> 
        <div id="profil-mic">
            <p class="nume-profil"><%- locals.utilizator.nume %> <%- locals.utilizator.prenume %> </p>
            <a href="/utilizator/<%- locals.utilizator.username %>" class="username-profil"><i class="fas fa-user"></i> <%- locals.utilizator.username %> </a>
            <p class="linie-profil"><a href="/logout" class="logout-profil"><i class="fas fa-sign-out"></i> Logout</a> | <a href="/cont" class="logout-profil">Contul meu</a></p>
            <figure class="contianer-imag-profil-mica">
                <img class="imag-mica-profil" src="/<%- locals.utilizator.cale_poza_mica %>" alt="[imagine profil]" />
            </figure>
        </div>
    <% } %>
</header>
<nav>
    <label id="hamburger" for="ch-meniu">
        <div>
            <div class="bara"></div>
            <div class="bara"></div>
            <div class="bara"></div>
        </div>
    </label>
    <input id="ch-meniu" type="checkbox">
    <ul class="meniu">
        <li><a href="/index"><span class="fas fa-home-alt" id="display-font-awesome"></span><span id="display-text">Acasa</span></a><div></div>
            <ul class="submeniu">
                <li><a href="/index#produse">Produse</a></li>
                <li><a href="/index#despre-noi">Despre noi</a></li>
                <li><a href="/index#ajutor">Ajutor</a></li>
                <li><a href="/index#intrebari">Intrebari frecvente</a></li>
                <li><a href="/index#contact">Contact</a></li>
                <li><a href="/index#informatii">Informatii</a></li>
            </ul>
        </li>
        <!-- <li><a href="signup.html">Sign Up</a></li> -->
        <li><a href="/contact">Contact</a><div></div>
            <ul class="submeniu">
                <li><a href="/forum">Forum</a></li>
                <li><a href="/chat">Chat</a></li>
            </ul>
        </li>
        <li><a href="/produse">Produse</a><div></div>
            <ul class="submeniu">
                <% for(let categProdus of locals.categProduse){  %>
                    <li><a href="/produse?tip=<%- categProdus %>"><%- categProdus[0].toUpperCase() + categProdus.slice(1) %> </a></li>
                <% } %>  
            </ul>
        </li>
        <li><a href="/creeaza-anunt">Creeaza <span class="ascunde">anunt</span></a><div></div></li>
        <li><a href="/galerie">Galerie</a><div></div></li>
        <% if(!locals.utilizator){ %>
            <li><a href="/login">Sign In</a><div></div></li>
            <li><a href="/inregistrare">Sign Up</a><div></div></li>
        <% } %>
        <% if(locals.utilizator && locals.utilizator.rol == "admin"){ %>
            <li><a href="/useri">Users</a><div></div>
                <ul class="submeniu">
                    <li><a href="/facturi">Facturi</a></li>
                </ul>
            </li>
        <% } %> 
        <% if(locals.utilizator){ %> 
            <li><a href="/utilizator/<%- locals.utilizator.username %>"><%- locals.utilizator.username %></a><div></div>
                <ul class="submeniu">
                    <li><a href="/cont">Contul meu</a></li>
                    <li><a href="/logout">Logout</a></li>
                </ul>
            </li>
        <% } %> 
        <li id="cos-virtual-nav"><a href="/cos-virtual"><span class="fas fa-shopping-cart"></span></a><div></div></li>
    </ul>
</nav>

<section id="istoric"></section>